---
import Layout from '../layouts/Layout.astro';
import FrameAndCircle from '../components/FrameAndCircle.svelte';
import CartMob from '../components/CartMob.svelte'
import '../fullpage/pageable.min.css'
---
<script src="/fullpage/pageable.min.js" is:inline />
<script>
    new Pageable('#container2');
</script>


<Layout title="Portfolio">
    <div id="container2">
        <div data-anchor="Page 1">
            <header class="w-[full] h-[100vh] flex justify-center items-center">
                <div class="w-[300px] h-[400px]">
                    <div class="w-[300px] h-[300px] bg-white  border-solid border-4 border-white rounded-full overflow-hidden">
            <img src="/ava.webp" class="transform scale-x-[-1]"/>
                    </div>
                    <div class="text-xl font-bold text-white text-center">Борис Нечай</div>
                </div>
                <div class="h-[400px]" >
                    <p class="text-3xl  pl-4 font-bold text-white">Добрый день</p>
                    <p class="text-3xl  pl-4 font-bold text-white">Я фуллстек web-разработчик</p>
                    <p class="text-5xl p-4 font-bold from-purple-200 via-pink-300 to-blue-300 bg-gradient-to-r bg-clip-text text-transparent">Давайте создадим<br> вкусный сайт!</p>
                    <div class="flex  p-4 justify-start items-center">
                        <a href="https://wa.me/+79604833420"><div class="w-[60px] h-[60px] bg-white rounded-full mr-3 flex justify-center items-center overflow-hidden cursor-pointer"><img src="/whatsapp.svg" /></div></a>
                        <a href="https://telegram.me/bercherglod"><div class="w-[60px] h-[60px] bg-white rounded-full mr-3 flex justify-center items-center cursor-pointer"><img src="/telega.svg"width="42"/></div></a>
                        <a href="mailto:bercherglod@gmail.com"><div class="w-[60px] h-[60px] bg-white rounded-full flex justify-center items-center cursor-pointer"><img src="/gmail.svg" width="40"/></div></a>
                    </div>
                </div>
            </header>
        </div>
        <div data-anchor="Page 2"><FrameAndCircle client:load /></div>
        <div data-anchor="Page 3"><CartMob client:load /></div>
        <div data-anchor="Page 4"><a href="/tractorcat/">Tractorcat</a></div>
    </div> 





</Layout>